@import './theme.scss';
.month-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .day-row, .header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}