.header-row {
  .header-row-content {
    left: calc(100% / 24);
  }
  .header-hour {
    width: calc(100% - 100 / 24);
    flex: 2;
  }
  .header-hour-label {
    margin-left: 0px;
    top: 0%;
  }
}